nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 0 -20px 0 -20px;
  border: none;
  background-color: rgba(255, 255, 255);
  text-transform: uppercase;
  position: fixed;
  top: 0;
  width: calc(80% + 40px);
  z-index: 10;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #ddd;
}

nav li a.active {
  color: white;
  background-color: #04aa6d;
}
